/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0077cc;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}


.dropdown-menu {
    background-color: #ced4da;
    align-content: center;

}

.dropdown-item{
    color: #1b6ec2;
}

    .dropdown-item:hover {
        text-shadow: 0px 0px 8px #5680E9;
    }




/* Footer */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

    footer .container {
        padding: 8px 8px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
        margin-left: 20px;
        margin-right: 20px;
    }

        footer .container .sec {
            padding-left: 10px;
        }

            footer .container .sec.aboutus {
                width: 40%;
                padding-left: 0;
                padding-right: 140px;
            }

                .footer .container .sec.aboutus h2 {
                    position: relative;
                    color: #ffffff;
                    font-weight: 500;
                    margin-bottom: 15px;
                    text-align: left;
                }

                    footer .container .sec.aboutus h2:before {
                        content: '';
                        position: absolute;
                        bottom: -5px;
                        left: 0;
                        width: 50px;
                        height: 2px;
                        background: rgb(110, 185, 228);
                    }

                footer .container .sec.aboutus p {
                    color: #ffffff;
                    font-size: 13px;
                    text-align: justify;
                }

.sci {
    margin-top: 20px;
    display: flex;
}

    .sci li {
        list-style: none;
    }

        .sci li a {
            display: inline-block;
            width: 40px;
            height: 40px;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 10px;
            text-decoration: none;
            border-radius: 4px;
        }

            .sci li a:hover {
                background: #808080;
            }

            .sci li a .fab {
                color: #ff0000;
                font-size: 20px;
            }

.footer .container .sec.findus {
    width: 30%;
    position: relative;
}

    .footer .container .sec.findus h2 {
        position: relative;
        color: white;
        font-weight: 500;
        padding-left: 0;
        font-size: 15px;
        text-align: left;
    }

        .footer .container .sec.findus h2:before {
            content: '';
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 50px;
            height: 2px;
            background: rgb(110, 185, 228);
        }

.footer .container .sec.contact {
    width: calc(30%-30px);
}

    .footer .container .sec.contact h2 {
        position: relative;
        color: white;
        font-weight: 500;
        margin-bottom: 15px;
        font-size: 15px;
        text-align: left;
    }

        .footer .container .sec.contact h2:before {
            content: '';
            font-size: 2em;
            position: absolute;
            bottom: -5px;
            left: 0;
        }

.contact .info {
    position: relative;
}

    .contact .info li {
        display: flex;
        margin-bottom: 16px;
    }

        .contact .info li span:nth-child(1) {
            color: rgba(0, 0, 0, .05);
            background: #fff;
            margin-right: 10px;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 10px;
            text-decoration: none;
            border-radius: 50%;
        }

            .contact .info li span:nth-child(1):hover {
                background: #808080;
            }

        .contact .info li a {

            color: #fff;
        }

            .contact .info li a:hover {
                color: #fff;
            }

.footer-bottom {
    padding: 10px;
    color: white;
    text-align: center;
}

.copyright {
    width: 100%;
    padding: 0 80px;
    height: 20px;
}

    .copyright p {
        align-items: center;
        align-content: center;
        text-align: center;
        color: #fff;
    }

@media (max-width:991px) {
    .footer {
        padding: 40px;
    }

        .footer .container {
            flex-direction: column;
        }

            .footer .container .sec {
                margin-right: 0;
                margin-bottom: 40px;
            }

                .footer .container .sec.aboutus, .sec.findus, .sec.contact {
                    width: 100%;
                }

    .copyright {
        padding: 0 80px;
    }
}
    

