@page
@model SeasideBliss.Pages.ExperiencesModel
@{
}
<body>
    <section class="atraction">
        <div class="experiences_description">
            <div class="res_atrr">
                <h3><br>Inmerse yourself in local experiences
                </h3>
                <p>The surrounding areas offer a diverse mix of natural beauty and cultural experiences. The nearby mountains boast hiking trails that provide stunning vistas of the Dalmatian coast and its islands, making it an ideal destination for nature enthusiasts. Meanwhile, local towns are rich with history and charm, where you can immerse yourself in traditional Croatian architecture, savor local cuisine, and explore vibrant markets. For those who prefer to relax, the pristine beaches are perfect for soaking up the sun, while also offering water activities such as swimming, kayaking, and paddleboarding.</p>
                <div class="safety1">
                    <div class="saf_img">
                        <img class="room_img" src="~/images/tour3.jpg" width="500" height="300">
                    </div>
                    <div class="des_img">
                        <h4>Cetina River Experiences</h4>
                        <p>The Cetina River on Croatia’s Omis Riviera is a hub for thrilling outdoor adventures. Surrounded by rugged cliffs and lush landscapes, it offers rafting through exciting rapids, cliff jumping into crystal-clear waters, and kayaking along serene stretches. Canyoning provides the ultimate challenge, with hiking, swimming, and climbing through the river's dramatic canyons. Whether you're seeking adrenaline-pumping thrills or a peaceful paddle, the Cetina River delivers an unforgettable experience in a stunning natural setting.</p>
                    </div>
                </div>
                <div class="safety1">
                    <div class="des_img">
                        <h4>Island Tours</h4>
                        <p>Local island tours on the Croatian coast offer unforgettable experiences, including visits to the stunning Blue Lagoon. These tours often feature live music, delicious food, and refreshing drinks as you explore crystal-clear waters and scenic islands. Perfect for a day of relaxation and adventure, these tours provide a unique way to experience the natural beauty and vibrant atmosphere of the region.</p>
                    </div>
                    <div class="saf_img">
                        <img class="room_img" src="~/images/tour2.jpg" width="500" height="300">
                    </div>
                </div>
                <div class="safety1">
                    <div class="saf_img">
                        <img class="room_img" src="~/images/tour4.jpg" width="500" height="300">
                    </div>
                    <div class="des_img">
                        <h4>Local activities</h4>
                        <p>Local activities in the area offer a rich taste of Croatian culture and tradition. You can enjoy authentic local cuisine, indulge in wine tastings of regional varieties, and explore vibrant local markets filled with fresh produce and handmade crafts. For those seeking outdoor adventure, horse riding through scenic landscapes adds a touch of excitement to your cultural experience.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>